.DS_Store
resources/.DS_Store
src/.DS_Store
test/.DS_Store

/target
/lib
/classes
/checkouts
/pom.xml
*.jar
*.class
*.cljs~
*.clj~
/README.md~
/.lein-*

/.env
/.nrepl-port
/log
/resources/public/js/**
project.clj
